/* General Styles */
h2 {
    font-size: xx-large;
}

/* Hero Section with Full-Screen GIF */


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.cta-buttons {
    gap: 20px;
}

.about-image {
    position: relative;
    width: 90%;
    margin: 30px auto;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/* Courses Section */
.courses-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #000000;
}

.cta-btn {
    margin-top: 10px;
}

/* About Us Section */
.about-section{
    padding: 50px 20px;
    text-align: center;
}

