footer {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: cyan;
}

/* Social icon styling */
.social-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth hover effect */
}

#facebook-icon {
    content: url('../images/facebook.png'); /* Normal state image */
}

#facebook-icon:hover {
    content: url('../images/facebook-hovered.png'); /* Hovered state image */
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 0.8; /* Slight transparency */
}

#instagram-icon {
    content: url('../images/instagram.png'); /* Normal state image */
}

#instagram-icon:hover {
    content: url('../images/instagram-hovered.png'); /* Hovered state image */
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 0.8; /* Slight transparency */
}

#linkedin-icon {
    content: url('../images/linkedin.png'); /* Normal state image */
}

#linkedin-icon:hover {
    content: url('../images/linkedin-hovered.png'); /* Hovered state image */
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 0.8; /* Slight transparency */
}