
/* Skeleton screen */
#skeleton-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cyan;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#skeleton-screen.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: inline-grid;
    width: 80px;
    aspect-ratio: 1;
    animation: l11-0 3s linear infinite;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
  }
  .loader:before {
    clip-path: polygon(100% 50%,83.81% 59.06%,93.3% 75%,74.75% 74.75%,75% 93.3%,59.06% 83.81%,50% 100%,40.94% 83.81%,25% 93.3%,25.25% 74.75%,6.7% 75%,16.19% 59.06%,0% 50%,16.19% 40.94%,6.7% 25%,25.25% 25.25%,25% 6.7%,40.94% 16.19%,50% 0%,59.06% 16.19%,75% 6.7%,74.75% 25.25%,93.3% 25%,83.81% 40.94%);
    background: #1B325F;
    transform: rotate(0turn) translate(-12.5%) rotate(0turn);
    animation: l11-1 2s linear infinite;
  }
  .loader:after {
    margin: 12.5%;
    clip-path: polygon(100% 50%,78.19% 60.26%,88.3% 82.14%,65% 75.98%,58.68% 99.24%,44.79% 79.54%,25% 93.3%,27.02% 69.28%,3.02% 67.1%,20% 50%,3.02% 32.9%,27.02% 30.72%,25% 6.7%,44.79% 20.46%,58.68% 0.76%,65% 24.02%,88.3% 17.86%,78.19% 39.74%);
    background: #9CC4E4;
  }
  @keyframes l11-0 {to{rotate: 1turn;}}
  @keyframes l11-1 {to{transform: rotate(-1turn) translate(-12.5%) rotate(.75turn);}}

body {
    background-color: black;
    color: cyan;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hover effects for links */
.nav-link,
.social-links a,
footer a {
    color: white;
    transition: color 0.3s;
}

.nav-link:hover,
.social-links a:hover,
footer a:hover {
    color: cyan;
    text-decoration: underline;
}

main {
flex: 1; /* This makes sure the main content takes up the remaining space */
}

.hero-section {
    position: relative;
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.background-gif {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    object-fit: cover;
    min-height: 100%;
}

.course{
    height: 200px;
}

.courses-section .course,
.online-section .online-course {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
}

.courses-section .course:hover,
.online-section .online-course:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px cyan;
}

.online-course {
    height: 300px;
    position: relative;
    background-image: url('../images/high-res/online.png');
}

.online-course img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.course-content {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

footer {
    background-color: #111;
    margin-top: auto;
    text-align: center;
    flex-shrink: 0;
}

/* Social icon styling */
.social-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth hover effect */
}

#facebook-icon {
    content: url('../images/facebook.png'); /* Normal state image */
}

#facebook-icon:hover {
    content: url('../images/facebook-hovered.png'); /* Hovered state image */
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 0.8; /* Slight transparency */
}

#instagram-icon {
    content: url('../images/instagram.png'); /* Normal state image */
}

#instagram-icon:hover {
    content: url('../images/instagram-hovered.png'); /* Hovered state image */
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 0.8; /* Slight transparency */
}

#linkedin-icon {
    content: url('../images/linkedin.png'); /* Normal state image */
}

#linkedin-icon:hover {
    content: url('../images/linkedin-hovered.png'); /* Hovered state image */
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 0.8; /* Slight transparency */
}

/* Media Queries for 320px screens */
@media (max-width: 320px) {
    .cta-buttons a {
        margin-bottom: 10px;
    }

    .nav-link {
        font-size: 12px;
    }

    .nav {
        flex-direction: column;
    }
}
